version: "3.9"

services:

  mysql:
    image: mysql:8.0
    container_name: tourism-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tourismdb
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: tourism-backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: tourismdb
    volumes:
    - ./backend/uploads:/app/uploads

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    container_name: tourism-frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mysql_data: