name: Tourism CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set Image Tag
      id: vars
      run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 游릭 Build Frontend
    - name: Build Frontend Image
      run: |
        docker build -t sriram2204/tourism-app-frontend:latest \
                     -t sriram2204/tourism-app-frontend:${TAG} \
                     -f Docker/frontend.Dockerfile .

    # 游릭 Build Backend
    - name: Build Backend Image
      run: |
        docker build -t sriram2204/tourism-app-backend:latest \
                     -t sriram2204/tourism-app-backend:${TAG} \
                     -f Docker/backend.Dockerfile .

    # 游릭 Push Frontend
    - name: Push Frontend Images
      run: |
        docker push sriram2204/tourism-app-frontend:latest
        docker push sriram2204/tourism-app-frontend:${TAG}

    # 游릭 Push Backend
    - name: Push Backend Images
      run: |
        docker push sriram2204/tourism-app-backend:latest
        docker push sriram2204/tourism-app-backend:${TAG}